.list {
	background-color: #1f242d;
	width: 100%;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.active {
	background-color: #0ef !important;
	color: #1f242d !important
}

#empty {
	color: #0ef;
	font-size: 2vmax;
}

.header {
	margin-top: 85px;
	width: 50%;
	background-color: #323946;
	height: 3.5rem;
	border-radius: 50px;
	display: flex;
	flex-direction: row;
	padding: 0vmax 2vmax;
	align-items: center;
	justify-content: space-between;
}

.filter {
	width: 30%;
	height: 3.5rem;
	margin: 1vmax;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

input,
button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

.header>p {
	color: rgb(186, 184, 184);
	font-size: 1.2vmax;
	display: flex;
	justify-content: flex-start;
}

.header>a,
.filter>a {
	display: flex;
	justify-content: flex-end;
	font-size: 1vmax;
	cursor: pointer;
	background-color: #1f242d;
	text-decoration: none;
	color: #0ef;
	border: 2px solid #0ef;
	font-weight: 400;
	padding: 8px 20px;
	border-radius: 20px;
}

.list>h2 {
	color: rgb(186, 184, 184);
	font-size: 2.2vmax;
	margin: 10px;
}

.main {
	width: 90%;
	display: flex;
	flex-direction: column;
	background-color: #323946;
	height: 60%;
	border-radius: 10px;
	overflow-y: auto;
	align-items: center;
	/* center along x-axis */
	justify-content: flex-start;
	/* align to top */
}

.main> :first-child {
	margin-top: 12px;
	margin-bottom: 6px;

}

.main> :not(:first-child) {
	margin: 6px;
}

.task {
	background-color: #1f242d;
	width: 90%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 0.8vmax 2vmax;
}

.tit {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* align items vertically */
}

.titt {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tit>h2 {
	font-size: 1.2vmax;
	color: rgb(186, 184, 184);
	font-weight: 250;

}

.titt>h2 {
	font-size: 1.2vmax;
	color: rgb(186, 184, 184);
	font-weight: 250;
}

.tit>.last {
	display: flex;
	flex-direction: row;
	font-size: 1.5vmax;
	align-items: center;
}

#dead {
	font-size: 1vmax;
	color: rgb(186, 184, 184);
	margin: 5px;
}

.tit>.last>a {
	font-size: 1.5vmax;
	margin: 10px;
}




@media(max-width:900px) {
	.header {
		width: 65%;
	}

	.header>p {
		font-size: 1.9vmax;
	}

	.header>a {
		font-size: 1.25vmax;
	}

	.main {
		width: 90%;
	}

	.main> :first-child {
		margin-top: 8px;
		margin-bottom: 4px;
	}

	.main> :not(:first-child) {
		margin: 4px;
	}

	.task {
		width: 90%;
	}

	.tit>h2 {
		font-size: 2.5vmax;
	}

	.tit>.last>a {
		font-size: 2.2vmax;
		margin: 8px;
	}

	.titt>h2 {
		font-size: 1.3vmax;
		margin: 5px;
	}
}

@media(max-width:500px) {
	.header {
		width: 85%;
	}

	.header>p {
		font-size: 1.4vmax;
	}

	.header>a {
		font-size: 1vmax;
		padding: 1.1vmax;
	}

	.main {
		width: 100%;
	}

	.main> :first-child {
		margin-top: 6px;
		margin-bottom: 3px;
	}

	.main> :not(:first-child) {
		margin: 3px;
	}

	.task {
		width: 85%;
	}

	.tit>h2 {
		font-size: 2.2vmax;
	}

	.tit>.last>a {
		font-size: 2.2vmax;
		margin: 5px;
	}

}